body{
    background-image: linear-gradient=to right( red,blue,yellow);
    color:blue;
    opacity: 50%
}
table,tr,td, th{
    border:1px solid;
    border-collapse:collapse;

}
th{
    background-color:aqua;
}
th:hover{
    background-color:red;
}